<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>戈登肉鋪</title> 
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
      {% load static %}
      <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
    </head>
    <style>
        .decorated-title {
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          color: #333;
          position: relative;
          margin-bottom: 30px;
        }
      
        .decorated-title::before,
        .decorated-title::after {
          content: "";
          position: absolute;
          top: 50%;
          width: 30%;
          height: 2px;
          background-color: #333;
        }
      
        .decorated-title::before {
          left: 0;
          transform: translateY(-50%);
        }
      
        .decorated-title::after {
          right: 0;
          transform: translateY(-50%);
        }
      </style>
     <body id="page-top" style="display: flex; flex-direction: column; min-height: 100vh;">

        
      <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index/" style="color: white;">戈登肉鋪</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            商品分類
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../hanio/">戈登頂級牛肉</a></li>
                            <li><a class="dropdown-item" href="../pork/">戈登嚴選豬肉</a></li>
                            <li><a class="dropdown-item" href="../seafood/">戈登經典海鮮</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">piyan專區</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../about/">關於我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contact/">客服中心</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if request.session.MAccount %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.session.MAccount }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../member/">個人資料</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">登出</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="../login/">註冊/登入</a>
                    </li>
                    {% endif %}
                </ul>
                <a href="../cart/">
                    <button class="btn btn-cart btn-sm text-white" type="button">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </button>
                </a>
                <form action="/search/" ass="d-flex" method="POST">{% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "searchbox">
              </form>
            </div>
        </div>
    </nav>
    
        <div class="placeholder"></div>
        <body class="bg-body-tertiary">      
        <div class="container" style="flex: 1;">
          <main>
            <div class="py-5 text-center">
            <img src="{% static 'img/logo (1).jpg'%}" alt="Logo" width="100">
              <h2>Checkout form</h2>
              <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
            </div>
        
            <div class="row g-5">
              <div class="col-md-6 col-lg-6 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">Your cart</span>
                  <span class="badge bg-primary rounded-pill">{{total_num}}</span>
                </h4>
                <ul class="list-group mb-3">
                  {% comment %} <form action="/checkout_process/" method = "POST">{% csrf_token %}> {% endcomment %}
                  {% for cart_item, product, subtotal in cart_products %}
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                    
                      <h6 class="my-0">{{ product.PName }}</h6>
                      <input type="hidden" name="field_id[]" value="{{ product.PID }}">
                      <input type="hidden" name="field_pnum[]" value="{{ cart_item.NUM }}">
                      <small class="text-body-secondary">要再去宜蘭吃一次火鍋嗎 還是吃老湯鍋</small>
                    </div>
                    <span class="text-body-secondary">${{ subtotal }}</span>
                    
                  
                  </li>
                  {% endfor %}
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Total (NTD)</span>
                    <strong>${{total_price}}</strong>
                  </li>
                </ul>
        
                <form class="card p-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                  </div>
                </form>
              </div>
              <div class="col-md-6 col-lg-6">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate="" action="/checkout_process/" method = "POST">{% csrf_token %}
                  <div class="row g-3">
                    
        
                    <div class="col-12">
                      <label for="username" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" id="username" placeholder="Username" required="">
                      <div class="invalid-feedback">
                          Your username is required.
                        </div>
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                      <input type="email" class="form-control" id="email" name = "email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" name = "address" placeholder="1234 Main St" required="">
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
                  </div>
        
                  <hr class="my-4">
        
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address">
                    <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                  </div>
        
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-info">
                    <label class="form-check-label" for="save-info">Save this information for next time</label>
                  </div>
        
                  <hr class="my-4">
        
                  <h4 class="mb-3">Payment</h4>
        
                  <div class="my-3">
                    <div class="form-check">
                      <input id="credit" name="paymentMethod" type="radio" class="form-check-input" value="credit" checked required>
                      <label class="form-check-label" for="credit">Credit card</label>
                    </div>
                    <div class="form-check">
                      <input id="debit" name="paymentMethod" type="radio" class="form-check-input"  value="debit" required>
                      <label class="form-check-label" for="debit">Debit card</label>
                    </div>
                    <div class="form-check">
                      <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" value="paypal" required>
                      <label class="form-check-label" for="paypal">PayPal</label>
                    </div>
                  </div>
        
                  <div class="row gy-3">        
                    <div class="col-md-3">
                      <label for="cc-expiration" class="form-label">Expiration</label>
                      <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                      <div class="invalid-feedback">
                        Expiration date required
                      </div>
                    </div>
        
                    <div class="col-md-3">
                      <label for="cc-cvv" class="form-label">CVV</label>
                      <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                      <div class="invalid-feedback">
                        Security code required
                      </div>
                    </div>
                  </div>
        
                  <hr class="my-4">
                  
                  <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                </form>
              </div>
            </div>
          </main>
        
          
        </div>
        

        <footer class="footer">
            <div class="container">
                <span>© 2023 戈登肉鋪. All rights reserved.</span>
            </div>
        </footer>
        
          
        
    </body>
    
        
</html>
